/* #region Message */
p
{
   margin:2%; 
}

#message-section
{
    padding: 2%;
    text-align: center;
}

#slogan-message
{
    height: 4%;
    padding:.5%;
}

#team-message
{
    height: 7%;
    padding-bottom:.1%;
}
/* #endregion */
